/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  background: #fcfcff;
  min-width: 100vw;
  min-height: 100vh;
  font-family: -apple-system, Hiragino Sans, YuGothic, Meiryo;
}

a {
  color: #239A3B;
}

a:hover,
a.navbar-item.is-active, a.navbar-item:hover, a.navbar-link.is-active, a.navbar-link:hover {
  color: #196127;
}

.navbar-item.is-active {
  color: #239A3B;
}

.navbar-brand .navbar-item {
  padding: 2px 16px;
}

.navbar-brand .navbar-item img{
  max-height: 34px;
}

.navbar-link::after {
  border-color: #239A3B;
}

.has-rounded {
  border-radius: 50%;
}

#index {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(hsla(112, 45%, 70%, 1), hsla(112, 45%, 62%, 1));

  .main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 100%;
  }

  .twitter-tweet {
    &, > * {
      color: transparent;
    }
  }

  .twitter-wrapper {
    max-width: 100%;
    min-height: 157px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  .subtitle {
    color: #fff;
    letter-spacing: 0.2px;
    font-weight: 200;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  }

  .message {
    background: transparent;
    line-height: 2.0;
    .message-body {
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    }
  }

  .button.is-primary.is-large {
    color: #fff;
    // border: solid 1px transparent;
    border: solid 1px #fff;
    // border-bottom: solid 4px #0FBFF5;
    padding: 20px 16px;
    background: rgba(255, 255, 255, 0.0);
    // background: #0FC8FF;
    border-radius: 4px;
    // border-radius: 0;
    font-size: 16px;
    transition: background 0.15s ease-out;

    &:hover {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  @media (min-width: 768px) {
    .column.is-7 {
      min-width: 523.83px;
    }
    .twitter-wrapper {
      min-width: 531px;
    }
  }

  @media (max-width: 768px) {
    .columns {
      margin: 0;
      width: 100%;
    }
  }

  a.button.is-primary.is-large{
    cursor: pointer;
  }
}

#dashboard {
  .adsbygoogle {
    margin: 16px auto;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  }

  .profile-icon-area {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
  }

  .profile-icon-area .image {
    border-radius: 50%;
    overflow: hidden;
  }
}
