/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  background: #fcfcff;
  min-width: 100vw;
  min-height: 100vh;
}

.profile-icon-area {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfbfb;
}

.profile-icon-area .image {
  border-radius: 50%;
  overflow: hidden;
}

a {
  color: #239A3B;
}

a:hover,
a.navbar-item.is-active, a.navbar-item:hover, a.navbar-link.is-active, a.navbar-link:hover {
  color: #196127;
}

.navbar-item.is-active {
  color: #239A3B;
}

.navbar-brand .navbar-item {
  padding: 2px 16px;
}

.navbar-brand .navbar-item img{
  max-height: 34px;
}

.navbar-link::after {
  border-color: #239A3B;
}
