// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard {
  .adsbygoogle {
    margin: 16px auto;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  }

  .profile-icon-area {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
  }

  .profile-icon-area .image {
    border-radius: 50%;
    overflow: hidden;
  }
}
