#index {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2fffc;

  .main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .github-link {
    font-size: 14px;
    display: block;
    text-align: center;
    color: #333;
    margin-top: 1rem;
    letter-spacing: 0;
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }

  .twitter-tweet {
    &, > * {
      color: transparent;
    }
  }

  .twitter-wrapper {
    max-width: 100%;
    min-height: 157px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }

  .subtitle {
    color: #024617;
    letter-spacing: 0.2px;
    font-weight: 200;
  }

  @media (min-width: 768px) {
    .column.is-7 {
      min-width: 523.83px;
    }
    .twitter-wrapper {
      min-width: 531px;
    }
  }

  @media (max-width: 768px) {
    .columns {
      margin: 0;
      width: 100%;
    }
  }

  a.button.is-primary.is-large{
    cursor: pointer;
  }
}
